.clr{clear:both;}
.cntr{text-align:center}
.marginLess{margin:0}
#logoArea, #logoArea a{line-height:49px;}
#logoArea .btn, #logoArea .btn-group {margin-top: 0;}
#logo {padding-right:28px;}
#welcomeLine{padding: 8px 0 4px}
/* Sidebar--------- */
#myCart  img{float:left; margin-right:8px; }
#myCart .badge {padding: 9px;}
#myCart {font-size: 13px;font-weight: bold; line-height: 33px;}
#sidebar ul ul li a{ font-size:12px;}
#sidebar ul {list-style: none;padding: 0;margin: 0;width: 100%;}
#sidebar  li  a{font-weight:bold; background:url(../images/tabRepeatInactive.png) repeat-x 0 0; color:#262626;}
#sidebar ul li li a{background:#eee; padding-left:14px;font-weight:normal;display:block;   font-size:13px; line-height:26px;}
/* body--- */
.thumbnail>a{display:block; text-align:center}
.thumbnail h5,.thumbnail p{text-align:center}
/* Product page--- */
.alignR{text-align:right;}
.control-label.alignL, .alignL{text-align:left;}
.loginFrm{ margin-bottom:8px;}
.loginFrm .control-group{padding:8px 14px 0; margin-bottom:0 }
/* Compair product page */
.checkbox input[type="checkbox"]{ margin:4px 0 8px -20px }
#sm{text-align:right}
#sm a {margin: 4px;width:32px;}
/* Carousel  */
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {color:#fff; background-color: #CF0007;text-shadow: none;}
/* Footer section--------------- */
.navbar-search .srchTxt {border-radius: 0;border: 1px solid #444;}
[class^="icon-"], [class*=" icon-"] {background-image: none;}
.navbar .nav > li > a {padding:10px;color: #DDD;text-shadow: none;font-size: 16px;}
.navbar .nav > li > a:hover{color:#fff}
#logoArea, #logoArea a{outline:none;}
.alignR .checkbox input[type="checkbox"] {float: right;margin: 4px 0 8px 11px;}

.navbar .nav.pull-right, #sideManu {overflow:hidden;}
#logoArea  #smallScreen {margin: 21px 14px 0 0;}
.navbar-search {margin-top: 8px;}
/* Responsive--------------------- */
/* Large desktop */
@media (min-width: 1200px) {  }
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
.navbar .brand {float: none;text-align: center;}
#sideManu,#topMenu{height:0}
.navbar-search {margin-top: 8px;width: 100%;float: none;}
#topMenu{height: auto;float: none;}
#topMenu li{float: none;}
.navbar .nav > li > a {border-top:1px solid #666; padding:0}
#sideManu,#topMenu{height:0}
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
.navbar .brand {float: none;text-align: center;}
#header, #carouselBlk{margin: 0 -20px;}
#sideManu,#topMenu{height:0}
.navbar-search {margin-top: 8px;width: 100%;float: none;}
#topMenu{height: auto;float: none;}
#topMenu li{float: none;}
.navbar .nav > li > a {border-top:1px solid #666; padding:0}
 }
/* Landscape phones and down */
@media (max-width: 480px) {
.navbar .nav > li > a {border-top:1px solid #666; padding:0}
}
#footer{text-align:center;}
.navbar-search {
	margin-left: 782px;
    text-align: right;
    margin-top: 8px;
    margin-bottom: 11px;
}
#srchFld {
    background: url(search.png) no-repeat 4px center #fff;
}
.navbar-search .srchTxt {
    border-radius: 0;
    border: 1px solid #444;
}
.form-reset{
	margin-top: 7px;
    padding-left: 40px;
}
#lblSrch{
	color: floralwhite;
	font-size: medium;
}